<nav class="navbar-wagon">
  <div class="container navbar-wagon-container">

    <a href="/">
      <img src="logo.png" alt="" class="navbar-wagon-logo">
    </a>

    <form action="" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search for featured stuff">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>
    <hr>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Contact</a>
    <hr>
    <a href="" class="navbar-wagon-item navbar-wagon-link hidden-xs">
      <div class="icon-badge-container">
        <i class="fa fa-envelope-o"></i>
        <div class="icon-badge icon-badge-blue">3</div>
      </div>
    </a>
    <hr>
    <% if current_boss %>
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <div class="dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
            <%= image_tag current_boss.avatar_url, class:"avatar" %>
          </div>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
          </ul>
        </div>
      </div>
    <% else %>
      <%= link_to 'Sign in with GitHub', '/auth/github', class:"navbar-wagon-item navbar-wagon-button btn" %>
    <% end %>
    <hr>
    <a href="" class="navbar-wagon-item navbar-wagon-button btn">Post stuff</a>
  </div>
</nav>
